
<div class="bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white text-center mt-32">
  <h1 class="font-black text-6xl text-center">Tailwind 2.0!</h1>
  <p class="text-lg leading-tight mt-4 font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo consequatur error pariatur voluptatem quis dignissimos nobis fuga quam? Dolor aut quod quas! Odit repudiandae, distinctio deleniti tempora nulla sapiente veniam?</p>
</div>
